n8n-workflows/step1-ee-count.json
{
  "name": "Step 1 — EE Count (New WC Prospects)",
  "nodes": [
    {
      "parameters": {
        "content": "## Step 1: Process New WC Prospects\nTrigger: NEW HERE rowAdded\nFilter → Merge with Prompts → Perplexity EE count → Parse → Update sheet",
        "height": 100,
        "width": 600,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [0, 0],
      "typeVersion": 1,
      "id": "step1-note",
      "name": "Step 1 Label"
    },
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "documentId": { "__rl": true, "mode": "id", "value": "1mno3Gy9qotBKO36Qx28p8ft5krR3sncZis8lrBVC5Cw" },
        "sheetName": { "__rl": true, "mode": "name", "value": "0. NEW HERE" },
        "event": "rowAdded",
        "includeInOutput": "new"
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [200, 100],
      "typeVersion": 1,
      "id": "step1-trigger",
      "name": "NEW HERE Trigger",
      "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_SHEETS_CREDENTIAL_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json['Bureau Number'] }}", "operation": "isNotEmpty" }]
        }
      },
      "type": "n8n-nodes-base.if",
      "position": [420, 100],
      "typeVersion": 1,
      "id": "step1-has-bn",
      "name": "Has Bureau Number"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "1mno3Gy9qotBKO36Qx28p8ft5krR3sncZis8lrBVC5Cw" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Prompts" },
        "operation": "read",
        "range": "A:Z"
      },
      "type": "n8n-nodes-base.googleSheets",
      "position": [640, 100],
      "typeVersion": 4,
      "id": "step1-fetch-prompts",
      "name": "Fetch EE Prompts",
      "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_SHEETS_CREDENTIAL_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "jsCode": "// Combine the row data with the EE prompt template\nconst row = $input.first().json;\nconst prompts = $('Fetch EE Prompts').all();\n\n// Find the EE prompt\nconst eePrompt = prompts.find(p => p.json['Prompt Name'] === 'EE Count');\nif (!eePrompt) throw new Error('EE Count prompt not found in Prompts sheet');\n\n// Substitute company details into the prompt\nlet prompt = eePrompt.json['Prompt Text'];\nprompt = prompt.replace('{{Primary Name}}', row['Primary Name'] || '');\nprompt = prompt.replace('{{Street Address}}', row['Street Address'] || '');\nprompt = prompt.replace('{{City}}', row['City'] || '');\nprompt = prompt.replace('{{State}}', row['State'] || '');\nprompt = prompt.replace('{{Bureau Number}}', row['Bureau Number'] || '');\n\nreturn [{ json: { ...row, prompt, row_number: row['row_number'] } }];"
      },
      "type": "n8n-nodes-base.code",
      "position": [860, 100],
      "typeVersion": 2,
      "id": "step1-combine",
      "name": "Build EE Prompt"
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "prompt": "={{ $json.prompt }}",
        "options": { "temperature": 0.1 }
      },
      "type": "n8n-nodes-base.perplexity",
      "position": [1080, 100],
      "typeVersion": 1,
      "id": "step1-perplexity",
      "name": "Perplexity EE Count",
      "credentials": { "perplexityApi": { "id": "PERPLEXITY_CREDENTIAL_ID", "name": "Perplexity" } },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Parse the Perplexity response for EE count\nconst input = $input.first().json;\nconst response = input.choices?.[0]?.message?.content || input.content || '';\n\n// Extract employee count from response\nlet eeCount = null;\nconst patterns = [\n  /(?:approximately|about|around|roughly|estimated)?\\s*(\\d[,\\d]*)\\s*(?:employees|workers|staff)/i,\n  /employee\\s*count[:\\s]*(\\d[,\\d]*)/i,\n  /headcount[:\\s]*(\\d[,\\d]*)/i,\n  /(\\d[,\\d]*)\\s*(?:full-time|FTE)/i,\n];\n\nfor (const pattern of patterns) {\n  const match = response.match(pattern);\n  if (match) {\n    eeCount = parseInt(match[1].replace(/,/g, ''), 10);\n    break;\n  }\n}\n\n// Sanity check: flag unreasonable values for human review\nif (eeCount !== null && (eeCount < 1 || eeCount > 500000)) {\n  eeCount = null;\n}\n\n// Flag for human review if parsing failed or value out of range\nconst reviewNeeded = eeCount === null ? 'REVIEW NEEDED - AI parse failed or value out of range' : '';\n\n// Extract sources\nconst sources = [];\nconst urlPattern = /\\[([^\\]]+)\\]\\(([^)]+)\\)/g;\nlet urlMatch;\nwhile ((urlMatch = urlPattern.exec(response)) !== null) {\n  sources.push(urlMatch[2]);\n}\n\nreturn [{\n  json: {\n    row_number: input.row_number,\n    ee_count: eeCount,\n    review_flag: reviewNeeded,\n    ee_response: response.substring(0, 2000),\n    sources: sources.join('\\n'),\n    'Primary Name': input['Primary Name'],\n    'Bureau Number': input['Bureau Number'],\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "position": [1300, 100],
      "typeVersion": 2,
      "id": "step1-parse",
      "name": "Parse EE Response"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "1mno3Gy9qotBKO36Qx28p8ft5krR3sncZis8lrBVC5Cw" },
        "sheetName": { "__rl": true, "mode": "name", "value": "0. NEW HERE" },
        "operation": "update",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EE's": "={{ $json.ee_count }}",
            "Sources": "={{ $json.sources }}",
            "Notes": "={{ $json.review_flag }}"
          }
        },
        "options": { "cellFormat": "RAW" },
        "dataStartRow": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "position": [1520, 100],
      "typeVersion": 4,
      "id": "step1-update",
      "name": "Update EE's + Sources",
      "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_SHEETS_CREDENTIAL_ID", "name": "Google Sheets" } }
    }
  ],
  "connections": {
    "NEW HERE Trigger": { "main": [[{ "node": "Has Bureau Number", "type": "main", "index": 0 }]] },
    "Has Bureau Number": { "main": [[{ "node": "Fetch EE Prompts", "type": "main", "index": 0 }]] },
    "Fetch EE Prompts": { "main": [[{ "node": "Build EE Prompt", "type": "main", "index": 0 }]] },
    "Build EE Prompt": { "main": [[{ "node": "Perplexity EE Count", "type": "main", "index": 0 }]] },
    "Perplexity EE Count": { "main": [[{ "node": "Parse EE Response", "type": "main", "index": 0 }]] },
    "Parse EE Response": { "main": [[{ "node": "Update EE's + Sources", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "ERROR_NOTIFIER_WORKFLOW_ID"
  }
}
