n8n-workflows/step5-li-profile.json
{
  "name": "Step 5 — LinkedIn Profile Search",
  "nodes": [
    {
      "parameters": {
        "content": "## Step 5: LI Profile Search\nTrigger: Filtered rowUpdate (POC entered manually)\nFilter → Loop → Apify LinkedIn scraper → Update LI Profile column",
        "height": 100,
        "width": 600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [0, 0],
      "typeVersion": 1,
      "id": "step5-note",
      "name": "Step 5 Label"
    },
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "documentId": { "__rl": true, "mode": "id", "value": "1mno3Gy9qotBKO36Qx28p8ft5krR3sncZis8lrBVC5Cw" },
        "sheetName": { "__rl": true, "mode": "name", "value": "1. Filtered Accounts & POCs" },
        "event": "rowUpdated",
        "includeInOutput": "new"
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [200, 100],
      "typeVersion": 1,
      "id": "step5-trigger",
      "name": "Filtered Update Trigger (LI)",
      "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_SHEETS_CREDENTIAL_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json['Prospect'] }}", "operation": "isNotEmpty" },
            { "value1": "={{ $json['LI Profile'] }}", "operation": "isEmpty" },
            { "value1": "={{ $json['Title'] }}", "operation": "isNotEmpty" }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "position": [420, 100],
      "typeVersion": 1,
      "id": "step5-filter",
      "name": "Needs LI Profile"
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "type": "n8n-nodes-base.splitInBatches",
      "position": [640, 100],
      "typeVersion": 3,
      "id": "step5-batch",
      "name": "LI Batch Loop"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~linkedin-profile-scraper/runs",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "searchUrl", "value": "={{ 'https://www.google.com/search?q=' + encodeURIComponent($json['Prospect'] + ' ' + ($json['Primary Name'] || '') + ' LinkedIn') }}" }
          ]
        },
        "options": { "timeout": 60000 },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apifyApi"
      },
      "type": "n8n-nodes-base.httpRequest",
      "position": [860, 100],
      "typeVersion": 4,
      "id": "step5-apify",
      "name": "Apify LinkedIn Search",
      "credentials": { "apifyApi": { "id": "APIFY_CREDENTIAL_ID", "name": "Apify" } },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "jsCode": "// Extract LinkedIn profile URL from Apify response\nconst input = $input.first().json;\nconst results = input.data || input.items || input || [];\n\nlet liUrl = '';\nif (Array.isArray(results)) {\n  for (const r of results) {\n    const url = r.linkedinUrl || r.profileUrl || r.url || '';\n    if (url.includes('linkedin.com/in/')) {\n      liUrl = url;\n      break;\n    }\n  }\n}\n\nreturn [{ json: { ...input, li_profile: liUrl } }];"
      },
      "type": "n8n-nodes-base.code",
      "position": [1080, 100],
      "typeVersion": 2,
      "id": "step5-parse",
      "name": "Extract LI URL"
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.li_profile }}", "operation": "isNotEmpty" }]
        }
      },
      "type": "n8n-nodes-base.if",
      "position": [1300, 100],
      "typeVersion": 1,
      "id": "step5-check",
      "name": "Has LI Profile?"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "1mno3Gy9qotBKO36Qx28p8ft5krR3sncZis8lrBVC5Cw" },
        "sheetName": { "__rl": true, "mode": "name", "value": "1. Filtered Accounts & POCs" },
        "operation": "update",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LI Profile": "={{ $json.li_profile }}"
          }
        },
        "options": { "cellFormat": "RAW" },
        "dataStartRow": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "position": [1520, 100],
      "typeVersion": 4,
      "id": "step5-update",
      "name": "Update LI Profile",
      "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_SHEETS_CREDENTIAL_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": { "amount": 5, "unit": "seconds" },
      "type": "n8n-nodes-base.wait",
      "position": [1740, 100],
      "typeVersion": 1.1,
      "id": "step5-wait",
      "name": "LI Cooldown"
    }
  ],
  "connections": {
    "Filtered Update Trigger (LI)": { "main": [[{ "node": "Needs LI Profile", "type": "main", "index": 0 }]] },
    "Needs LI Profile": { "main": [[{ "node": "LI Batch Loop", "type": "main", "index": 0 }]] },
    "LI Batch Loop": { "main": [[], [{ "node": "Apify LinkedIn Search", "type": "main", "index": 0 }]] },
    "Apify LinkedIn Search": { "main": [[{ "node": "Extract LI URL", "type": "main", "index": 0 }]] },
    "Extract LI URL": { "main": [[{ "node": "Has LI Profile?", "type": "main", "index": 0 }]] },
    "Has LI Profile?": { "main": [[{ "node": "Update LI Profile", "type": "main", "index": 0 }]] },
    "Update LI Profile": { "main": [[{ "node": "LI Cooldown", "type": "main", "index": 0 }]] },
    "LI Cooldown": { "main": [[{ "node": "LI Batch Loop", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "ERROR_NOTIFIER_WORKFLOW_ID"
  }
}
