n8n-workflows/step2-domain-lookup.json
{
  "name": "Step 2 — Domain + FP/NP Lookup",
  "nodes": [
    {
      "parameters": {
        "content": "## Step 2: Domain + FP/NP Lookup\nTrigger: Filtered rowAdded\nDedupe → Perplexity domain lookup → Parse → Update → Reformat 5 rows → Apps Script",
        "height": 100,
        "width": 700,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [0, 0],
      "typeVersion": 1,
      "id": "step2-note",
      "name": "Step 2 Label"
    },
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "documentId": { "__rl": true, "mode": "id", "value": "1mno3Gy9qotBKO36Qx28p8ft5krR3sncZis8lrBVC5Cw" },
        "sheetName": { "__rl": true, "mode": "name", "value": "1. Filtered Accounts & POCs" },
        "event": "rowAdded",
        "includeInOutput": "new"
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [200, 100],
      "typeVersion": 1,
      "id": "step2-trigger",
      "name": "Filtered Trigger",
      "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_SHEETS_CREDENTIAL_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json['Domain'] }}", "operation": "isEmpty" },
            { "value1": "={{ $json['Bureau Number'] }}", "operation": "isNotEmpty" }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "position": [420, 100],
      "typeVersion": 1,
      "id": "step2-filter",
      "name": "Needs Domain Lookup"
    },
    {
      "parameters": {
        "jsCode": "// Deduplicate by Bureau Number — only process each company once\nconst items = $input.all();\nconst seen = new Set();\nconst unique = [];\n\nfor (const item of items) {\n  const key = item.json['Bureau Number'] || `${item.json['Primary Name']}|${item.json['Street Address']}`;\n  if (!seen.has(key)) {\n    seen.add(key);\n    unique.push(item);\n  }\n}\n\nreturn unique;"
      },
      "type": "n8n-nodes-base.code",
      "position": [640, 100],
      "typeVersion": 2,
      "id": "step2-dedupe",
      "name": "Dedupe Companies"
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "type": "n8n-nodes-base.splitInBatches",
      "position": [860, 100],
      "typeVersion": 3,
      "id": "step2-batch",
      "name": "Domain Batch Loop"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "1mno3Gy9qotBKO36Qx28p8ft5krR3sncZis8lrBVC5Cw" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Prompts" },
        "operation": "read",
        "range": "A:Z"
      },
      "type": "n8n-nodes-base.googleSheets",
      "position": [1080, 100],
      "typeVersion": 4,
      "id": "step2-fetch-prompts",
      "name": "Fetch Domain Prompts",
      "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_SHEETS_CREDENTIAL_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "jsCode": "// Build domain + FP/NP lookup prompt\nconst row = $input.first().json;\nconst prompts = $('Fetch Domain Prompts').all();\n\nconst domainPrompt = prompts.find(p => p.json['Prompt Name'] === 'Domain + FP/NP');\nif (!domainPrompt) throw new Error('Domain + FP/NP prompt not found in Prompts sheet');\n\nlet prompt = domainPrompt.json['Prompt Text'];\nprompt = prompt.replace('{{Primary Name}}', row['Primary Name'] || '');\nprompt = prompt.replace('{{Street Address}}', row['Street Address'] || '');\nprompt = prompt.replace('{{City}}', row['City'] || '');\nprompt = prompt.replace('{{State}}', row['State'] || '');\n\nreturn [{ json: { ...row, prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "position": [1300, 100],
      "typeVersion": 2,
      "id": "step2-build-prompt",
      "name": "Build Domain Prompt"
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "prompt": "={{ $json.prompt }}",
        "options": { "temperature": 0.1 }
      },
      "type": "n8n-nodes-base.perplexity",
      "position": [1520, 100],
      "typeVersion": 1,
      "id": "step2-perplexity",
      "name": "Domain Lookup (Perplexity)",
      "credentials": { "perplexityApi": { "id": "PERPLEXITY_CREDENTIAL_ID", "name": "Perplexity" } },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Parse domain and FP/NP classification from Perplexity response\nconst input = $input.first().json;\nconst response = input.choices?.[0]?.message?.content || input.content || '';\n\n// Extract domain — prefer explicitly labeled domain/website matches first\nlet domain = '';\nlet domainConfidence = 'high';\nconst domainPatterns = [\n  /(?:website|domain|official\\s+(?:website|site)|url)[:\\s]+(?:https?:\\/\\/)?(?:www\\.)?([a-z0-9][a-z0-9-]*\\.[a-z]{2,})/i,\n];\nfor (const p of domainPatterns) {\n  const m = response.match(p);\n  if (m) { domain = m[1].toLowerCase(); break; }\n}\n// Greedy fallback — flag as low confidence\nif (!domain) {\n  const fallback = response.match(/(?:https?:\\/\\/)?(?:www\\.)?([a-z0-9][a-z0-9-]*\\.[a-z]{2,})/i);\n  if (fallback) {\n    domain = fallback[1].toLowerCase();\n    domainConfidence = 'low';\n  }\n}\n\n// Extract FP/NP\nlet fpnp = '';\nif (/non[- ]?profit|501\\(?c\\)?/i.test(response)) fpnp = 'Non-Profit';\nelse if (/for[- ]?profit|commercial|private company/i.test(response)) fpnp = 'For-Profit';\n\n// Review flag for missing data\nconst issues = [];\nif (!domain) issues.push('domain not found');\nif (!fpnp) issues.push('FP/NP not determined');\nif (domainConfidence === 'low') issues.push('domain low confidence');\nconst reviewFlag = issues.length > 0 ? 'REVIEW NEEDED - ' + issues.join(', ') : '';\n\n// Extract sources\nconst sources = [];\nconst urlPattern = /\\[([^\\]]+)\\]\\(([^)]+)\\)/g;\nlet urlMatch;\nwhile ((urlMatch = urlPattern.exec(response)) !== null) {\n  sources.push(urlMatch[2]);\n}\n\nreturn [{\n  json: {\n    row_number: input.row_number,\n    domain,\n    fp_np: fpnp,\n    review_flag: reviewFlag,\n    sources: sources.join('\\n'),\n    'Primary Name': input['Primary Name'],\n    'Bureau Number': input['Bureau Number'],\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "position": [1740, 100],
      "typeVersion": 2,
      "id": "step2-parse",
      "name": "Parse Domain Only"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "1mno3Gy9qotBKO36Qx28p8ft5krR3sncZis8lrBVC5Cw" },
        "sheetName": { "__rl": true, "mode": "name", "value": "1. Filtered Accounts & POCs" },
        "operation": "update",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Domain": "={{ $json.domain }}",
            "For-Profit/Non-Profit": "={{ $json.fp_np }}",
            "Sources": "={{ $json.sources }}",
            "Notes": "={{ $json.review_flag }}"
          }
        },
        "options": { "cellFormat": "RAW" },
        "dataStartRow": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "position": [1960, 100],
      "typeVersion": 4,
      "id": "step2-update",
      "name": "Update Domain + FP/NP",
      "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_SHEETS_CREDENTIAL_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "conditions": {
          "number": [{ "value1": "={{ $json.statusCode || 200 }}", "operation": "smallerEqual", "value2": 299 }]
        }
      },
      "type": "n8n-nodes-base.if",
      "position": [2180, 100],
      "typeVersion": 1,
      "id": "step2-check",
      "name": "Check Domain Updated"
    },
    {
      "parameters": { "amount": 3, "unit": "seconds" },
      "type": "n8n-nodes-base.wait",
      "position": [2400, 100],
      "typeVersion": 1.1,
      "id": "step2-wait",
      "name": "Wait Domain Cooldown"
    },
    {
      "parameters": {
        "jsCode": "// After all domain lookups complete, reformat to 5 rows + blank separator per company\nconst items = $input.all();\n\n// Group by company (Bureau Number or Primary Name + Address)\nconst groups = {};\nconst order = [];\n\nfor (const item of items) {\n  const bn = item.json['Bureau Number'] || '';\n  const name = item.json['Primary Name'] || '';\n  const addr = item.json['Street Address'] || '';\n  const key = bn || `${name}|${addr}`;\n  \n  if (!key) continue;\n  \n  if (!groups[key]) {\n    groups[key] = [];\n    order.push(key);\n  }\n  groups[key].push(item.json);\n}\n\n// Build reformatted output: 5 copies of first row per company + blank\nconst output = [];\nfor (const key of order) {\n  const rows = groups[key];\n  const template = rows[0];\n  \n  for (let i = 0; i < 5; i++) {\n    output.push({ json: { ...template, _block_row: i + 1, _is_separator: false } });\n  }\n  // Blank separator\n  output.push({ json: { _is_separator: true } });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "position": [2620, 100],
      "typeVersion": 2,
      "id": "step2-reformat",
      "name": "Reformat to 5 Rows + Blank"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "1mno3Gy9qotBKO36Qx28p8ft5krR3sncZis8lrBVC5Cw" },
        "sheetName": { "__rl": true, "mode": "name", "value": "1. Filtered Accounts & POCs" },
        "operation": "append",
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": { "cellFormat": "RAW" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "position": [2840, 100],
      "typeVersion": 4,
      "id": "step2-append",
      "name": "Append Reformatted Rows",
      "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_SHEETS_CREDENTIAL_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "APPS_SCRIPT_WEB_APP_URL",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "trigger", "value": "reformat_a_renewal_rows" },
            { "name": "token", "value": "={{ $env.WEBHOOK_AUTH_TOKEN }}" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "position": [3060, 100],
      "typeVersion": 4,
      "id": "step2-format-script",
      "name": "Trigger Apps Script Format",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "Filtered Trigger": { "main": [[{ "node": "Needs Domain Lookup", "type": "main", "index": 0 }]] },
    "Needs Domain Lookup": { "main": [[{ "node": "Dedupe Companies", "type": "main", "index": 0 }]] },
    "Dedupe Companies": { "main": [[{ "node": "Domain Batch Loop", "type": "main", "index": 0 }]] },
    "Domain Batch Loop": {
      "main": [
        [{ "node": "Reformat to 5 Rows + Blank", "type": "main", "index": 0 }],
        [{ "node": "Fetch Domain Prompts", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Domain Prompts": { "main": [[{ "node": "Build Domain Prompt", "type": "main", "index": 0 }]] },
    "Build Domain Prompt": { "main": [[{ "node": "Domain Lookup (Perplexity)", "type": "main", "index": 0 }]] },
    "Domain Lookup (Perplexity)": { "main": [[{ "node": "Parse Domain Only", "type": "main", "index": 0 }]] },
    "Parse Domain Only": { "main": [[{ "node": "Update Domain + FP/NP", "type": "main", "index": 0 }]] },
    "Update Domain + FP/NP": { "main": [[{ "node": "Check Domain Updated", "type": "main", "index": 0 }]] },
    "Check Domain Updated": {
      "main": [
        [{ "node": "Wait Domain Cooldown", "type": "main", "index": 0 }],
        [{ "node": "Domain Batch Loop", "type": "main", "index": 0 }]
      ]
    },
    "Wait Domain Cooldown": { "main": [[{ "node": "Domain Batch Loop", "type": "main", "index": 0 }]] },
    "Reformat to 5 Rows + Blank": { "main": [[{ "node": "Append Reformatted Rows", "type": "main", "index": 0 }]] },
    "Append Reformatted Rows": { "main": [[{ "node": "Trigger Apps Script Format", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "ERROR_NOTIFIER_WORKFLOW_ID"
  }
}
